.about-section {
  background-color: white;
  /* background-color: yellow; */
  /* padding: 100px 0; */
  /* padding-top: 100px; */
  margin-bottom: 5%;
  width: 100%;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Gantari", sans-serif;
}
.about-content p {
  font-size: clamp(0.95rem, 1.8vw, 1.1rem);
  line-height: 1.6;
  font-family: "Poppins";
  margin-bottom: 1rem;
}
.about-label {
  display: inline-block;
  padding: 0.3em 0.9em;
  background-color: #f2f2f2;
  border: 1px solid #000;
  border-radius: 30px;
  font-size: 0.85rem;
  font-weight: 500;
  white-space: nowrap;
}
.about-content h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  font-weight: 700;
  margin-bottom: 15px;
}
.about-btn {
  font-family: "Gantari";
  background-color: #d16751;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 10px 18px;
  margin-top: 15px;
}

.numb {
  /* margin-top: 55%; */
  display: flex;
  gap: 3rem;
  /* margin-top: 30px; */
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  width: 100%; /* takes available space */
  /* max-width: 600px; */
}
/* #cp {
  font-size: 20px;
  font-family: "Gantari";
  font-weight: 500;
  line-height: 100%;
  color: #000000;
  width: 169px;
  height: 48px;
} */
.numb > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* or center if you want centered text */
}
.numb h1 {
  margin: 0;
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  font-weight: 900;
  color: #000;
  line-height: 1.2;
  font-weight: bolder;
}
#cp {
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  font-weight: 500;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-family: "Gantari";
  text-align: center;
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  /* height: 840px; */
  /* height: 70vh; */
  height: auto;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  .dif {
    margin-top: 20px;
    /* background-color: crimson; */
    /* background-color: teal; */
  }
  .numb {
    justify-content: center;
    gap: 4rem;
  }
  .about-image img {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .about-section {
    /* text-align: center; */
  }

  .dif {
    margin-top: 20px;
    /* background-color: aqua; */
  }
  .numb {
    justify-content: center;
    gap: 2rem;
  }
  .numb > div {
    align-items: center;
  }
}
@media (max-width: 480px) {
  .about-image {
    width: 100%;
    height: auto;
    margin-top: -3rem;
  }
}
